<div class="flex flex-col justify-center items-center w-full h-full border border-gray-400 rounded-md p-3 space-y-2">
    <div class="w-full max-w-[400px] p-4 rounded-md flex flex-col bg-gray-100">
        <h1 class="text-xl font-bold">Criar conta:</h1>
        <div class="space-y-3">
            <form class="flex flex-col space-y-3" [formGroup]="newAccountForm" (ngSubmit)="CreateNewUser()">

                <div class="flex flex-col">
                    <div class="flex flex-col justify-center">
                        <label class="font-semibold" for="value">Valor:</label>
                        <input class="border border-black rounded-md text-black p-1" type="number" id="value"
                            formControlName="value">
                    </div>
                    <div *ngIf="newAccountForm.controls['value'].invalid && newAccountForm.controls['value'].touched">
                        <small *ngIf="newAccountForm.controls['value'].hasError('minlength')">Mínimo 3
                            caracteres</small>
                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="flex flex-col justify-center">
                        <label class="font-semibold" for="description">Description:</label>
                        <input class="border border-black rounded-md text-black p-1" type="text" id="description"
                            formControlName="description">
                    </div>
                    <div
                        *ngIf="newAccountForm.controls['description'].invalid && newAccountForm.controls['description'].touched">
                        <small *ngIf="newAccountForm.controls['description'].hasError('minlength')">Mínimo 3
                            caracteres</small>
                    </div>
                </div>

                <div class="flex flex-col">
                    <div class="flex flex-col justify-center">
                        <label class="font-semibold" for="limit_date">Data Limite:</label>
                        <input class="border border-black rounded-md text-black p-1" type="date" id="limit_date"
                            formControlName="limit_date">
                    </div>
                    <div
                        *ngIf="newAccountForm.controls['limit_date'].invalid && newAccountForm.controls['limit_date'].touched">
                        <small *ngIf="newAccountForm.controls['limit_date'].hasError('minlength')">Mínimo 3
                            caracteres</small>
                    </div>
                </div>

                <div class="flex flex-col justify-center items-start">
                    <div class="flex flex-row justify-center space-x-2">
                        <label class="font-semibold" for="is_paid">Pago?:</label>
                        <input class="" type="checkbox" id="is_paid" formControlName="is_paid">
                    </div>
                </div>

                <div class="flex flex-row mt-5 justify-end">
                    <button type="submit"
                        class="bg-blue-500 p-2 rounded-md text-white hover:bg-blue-600 duration-150">Criar</button>
                </div>

                <div class="flex justify-center items-center">
                    <span class="text-green-500" *ngIf="message !== ''">{{ message }}</span>
                    <span class="text-red-500" *ngIf="errorMessage !== ''">{{ errorMessage }}</span>
                </div>
            </form>
        </div>

    </div>
</div>